*~
*.bag
*.pcd
*.png
*.pyc
*.swp
*.swo
catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/
catkin_ws/.catkin_workspace
*.vscode
*.caffemodel
catkin_ws/src/moos/moos-ros-bridge/moosros_tester/bin/
*.xls
catkin_ws/src/analysis/jupyter/.ipynb_checkpoints/
